
/******************************/
/*********MAIN*****************/
/******************************/
*,
::after,
::before{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

body{
    box-sizing: border-box; 
}

/******************************/
/**********VIDEO***************/
/******************************/
.video-container {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  @keyframes playVideo {
    0% { opacity: 0; }
    5% { opacity: 0.5;}
    10%{opacity: 0.15;}
    15%{opacity: 0.25;}
    20%{opacity: 0.35;}
    25%{opacity: 0.45;}
    30%{opacity: 0.55;}
    35%{opacity: 0.65;}
    40%{opacity: 0.75;}
    45%{opacity: 0.85;}
    50%{ opacity: 0.95;}
    55%{ opacity: 0.85;}
    60%{ opacity: 0.75;}
    65%{ opacity: 0.65;}
    70%{ opacity: 0.55;}
    75%{ opacity: 0.45;}
    80%{ opacity: 0.35;}
    85%{ opacity: 0.25;}
    90%{ opacity: 0.15;}
    95% { opacity: 0.7;}
    100% { opacity: 0;}
  }
  
  .video-container video {
    animation-name: playVideo;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  

  
/******************************/
/*********ELEM*****************/
/******************************/


.img-ap-more{ 
}
.mr-5 {
}
.v-bottom {
}
nav{
}
.logo-txt{
}
.check{
}

.info-app{
padding-left: 15px;
}

.info-app-td{
    vertical-align: top;
}

img{
    width: 100%;
}

li{
    list-style: none;
}

a {
    color: #000;
   text-decoration: none;
}

.img-ap-prew {
    width: 400px;
    height: 310px;
    background-image: url("../img/2a.png");
    background-size:cover;
    border-radius: 8px;
    position: relative;
     
}
.sticks{
    position: absolute;
    left: 2%;
    bottom: 5%;
    
}
.img-ap {
    background-image: url("../img/2a.png");
    background-size:cover;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
   
}

.ch-1 > .img-ap-prew{
    background-image: url("../img/1.avif");
}
.ch-1 > .img-ap-subblock > .img-ap{
    background-image: url("../img/1.avif");
}

.ch-1 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/4.avif");
} 


.ch-2 > .img-ap-prew{
    background-image: url("../img/5.avif");
}
.ch-2 > .img-ap-subblock > .img-ap{
    background-image: url("../img/5.avif");
}
.ch-2 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/6.avif");
} 

.ch-3 > .img-ap-prew{
    background-image: url("../img/7.avif");
}
.ch-3 > .img-ap-subblock > .img-ap{
    background-image: url("../img/7.avif");
}
.ch-3 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/8.avif");
}

.ch-4 > .img-ap-prew{
    background-image: url("../img/9.avif");
}
.ch-4 > .img-ap-subblock > .img-ap{
    background-image: url("../img/9.avif");
}
.ch-4 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/10.avif");
}

.ch-5 > .img-ap-prew{
    background-image: url("../img/11.avif");
}
.ch-5 > .img-ap-subblock > .img-ap{
    background-image: url("../img/11.avif");
}
.ch-5 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/14.avif");
}

.ch-6 > .img-ap-prew{
    background-image: url("../img/13.avif");
}
.ch-6 > .img-ap-subblock > .img-ap{
    background-image: url("../img/13.avif");
}
.ch-6 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/12.avif");
}

.ch-7 > .img-ap-prew{
    background-image: url("../img/15.avif");
}
.ch-7 > .img-ap-subblock > .img-ap{
    background-image: url("../img/15.avif");
}
.ch-7 > .img-ap-subblock > .check > .img-ap-more{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/16.avif");
}






.img-ap-more {
    background-size:cover;
    border-radius: 8px;
    width: 200px;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/1a.png");
}

.img-ap-more-txt{
    
    top:40%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font: 1.2em sans-serif;
}


.img-ap-subblock {
    padding-left: 10px;
 }

.link{
    display: block;
    color: #000000;
    padding: 8px;
    margin-right: 6px;
    transition: background-color 0.5s, color 0.5s;
} 

.link:focus,
.link:hover{
    border-radius: 0 0 20px 0;
    background-color:#000085;
    color: #fff;
    padding: 20px;
}
.info_adv{
    color: #b3aeae;
}

.info_adv > span{
    font-size: 14px;
}

ul{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}

.sticks > a{
    background: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.logo-img{
    width: 112px;
}
.logo-link{
    width: 100px;
    border: none;
}
.logo-link > span{
    border-radius: 20px 0 0 0;
    width: 50px;
    display: block;
   padding: 5px;
   font-size: 20px;
    background: #000085;
    color: #ffffff;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

footer{
    border-radius: 0 0 20px 0 ;
    background: #000;
}

.footer-txt{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}
.footer-tb{
    margin: 0 auto;
}
.footer-td{
padding: 10px;
}
.footer-td > a{
    padding: 30px;
    transition: background-color 0.5s, color 0.5s ;
}
.footer-td > a:focus,
.footer-td > a:hover{
    border-radius: 0 20px 0 0;
    background-color:  #000085;
    color: #fff;
}

.header-tb{
    margin: 0 auto;
}
.header-tb > .link-nav{
   padding: 50px;
}

.price{
    font-weight: bold;
    line-height: 30px;
    
}
.sp_price_squar{
    font-size: 14px;
}
.s{
    font-size: 8px;
}

.address{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.area{
    line-height: 30px;
}

.features > li{
    display: inline-block;
    max-width: 100%;
    border: 2px solid #ff9552;
    border-radius: 20px;
    padding: 0 12px;
    text-align: center;

}
.rooms{
    line-height: 30px;
}


.features {
    margin: 15px 0;
}
.icon-heart-td{
    vertical-align: top;
    padding: 10px;

}

.sort{
    padding: 20px;
}
.sort-ul> li{
    display: inline-block;
    max-width: 100%;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 5px 12px;
    text-align: center;
    
}
.sort-ul > li:nth-last-child(1){
    background: #000;
    color: #fff;
}

.sort-ul > li:nth-last-child(1):hover{
    background: #000;
    color: rgb(255, 255, 255)000;
}

.sort-ul> li:hover{
    border: 2px solid #ffffff;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

.sort {
    background: #ff9552;
    margin: 10px;
    border-radius: 5px;

}
.sort > p{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.ap-tb{
    margin: 10px;
}
