header{
    position: relative;
    }
    .cover{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    }
    .content{
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
    background: #a61414;
    opacity: 0.5;
    }