*,
::after,
::before{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

body{
    box-sizing: border-box;
}

img{
    width: 100%;
}

.main {

}
.section-ap {

}
.section-ap-descr {
    

}
.img-ap-block {
    display: table;
    width: 500px;
    max-height: 300px;
  
    
    
}
.img-ap-prew {
    display: table-cell;
     background: #fc0505;
    width: 300px;
    height: 300px;
    background-image: url("../img/2a.png");
    background-size:cover;
    border-radius: 10px;
    
}
.img-ap-subblock {
   /* width: 50%; */
   display: table-cell;
}
.img-ap {
    background-image: url("../img/2a.png");
    background-size:cover;
    /* display: table-cell; */
     /* background: #05fc09; */
    width: 200px;
    height: 150px;
    border-radius: 10px;
    /* object-fit: cover; */
}
.check{
    background: #000;
    opacity: 0.9;
    border-radius: 20px;
    /* position: absolute; */
}
.img-ap-more {
    background-size:cover;
    border-radius: 20px;
    /* background-image: url("../img/1a.png"); */
    display: table-cell;
    /* background: #ebfc05; */
    width: 200px;
    height: 150px;
    
    /* position: relative; */
    
    /* background-color: rgba(0,0,0,0.9); */
    /* color:#fff; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.5)) , url("../img/1a.png");

    
}


.sort {
   
    background: #0591fc;
    /* width: 100px;
    height: 50px; */
}

li{
    list-style: none;
}

a{
   
    display: block;
   text-decoration: none;
   color: #000000;
   border: 1px solid #000;
   border-radius: 20px;
   padding: 8px;
   margin-right: 6px;
}

li{
    text-align: center;
    display: table-cell;
min-width: 120px;

}
.info_adv{
    color: #b3aeae;
}
/* .sort-prise>li{
    text-align: center;
    display: table-cell;
background: #c9b7b7;
width: 120px;

} */
.img-ap-more{
   
}

.img-ap-more-txt{
    
    top:40%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    text-align: center;
    color: #fff;
    /* padding: 30% 15%; */
    font-weight: bold;
    font: 1.2em sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
.a-ap-stick-v {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: fit-content;
    
}
.mr-5 {
}
.v-bottom {
}
.a-ap-stick-t {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: fit-content;
    
}
